<h2 style = "margin-top: 30px">Биржа</h2>
<script>
    function goSymbol(symbol) {
        document.getElementById('symbol').setAttribute('value', symbol);
    }
</script>
<div class = "container">
    <div class = "row">
        <div class = "col-7">
            <div class = "main_stock">
                <p id = "name_od_main_stock"> {{mainstock.symbol}}</p>
                <p id = "price_of_main_stock">{{mainstock.last_price}}</p>
                <div style="width: 700px; height: 650px;" id = "graph_of_main_stock" >
                </div>
            </div>
        </div>
        <div id="cards" class = "col-5">
            {{#if user}}
                <p class="h3">Ваш баланс: {{user.balance}}§</p>
            {{/if}}
            <nav aria-label="Page navigation" style = "margin-right: 10px">
                <ul class="pagination">
<!--&laquo; &raquo;-->
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    
                </ul>
            </nav>
                {{!-- {{#each stocks}}
                
                {{/each}} --}}
            
        </div>
    </div>
    <div class="modal fade" id="buyFast" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Покупка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{#if user}}
                <div class="modal-body">
                    <p>Баланс: {{user.balance}}</p>
                <form action="/buystock" method="POST">
                    <input readonly="true" placeholder = "Цена" type="number" class="form-control mb-2" name = "price" id = "price" step = "0.01" required>
                    <input placeholder = "Количество" type="number" class="form-control" name = "stock" id = "stock" step = "0.01" required>
                    <input type="hidden" name = "symbol" id = "symbol">
                    <button type="submit" class="btn mt-2" style="background-color: #5B8C43FF; color: white">Купить</button>
                </form>
                </div>
                
                {{else}}
                    <div class = "modal-body">
                        <h4>Чтобы совершать покупки, <a href="/login" style="text-decoration: none; color: dodgerblue">авторизируйтесь</a> или <a href="/reg" style = "text-decoration: none; color: dodgerblue">зарегестрируйтесь</a>.</h4>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script>
    cards = document.getElementById("cards").innerHTML
    function card_html(name, cur_price) {
    return `
    <div class = "card" id="${name}" style="margin-bottom: 10px">
        <div class = "card-header" style="background: linear-gradient(90deg, #190333 ,#00123a)">
            <h5 style="color: white; margin-top:10px">{{this.symbol}}</h5>
        </div>
        <div class = "card-body">
            <div class = "container">
                <div class = "row">
                    <div class = "col" style = "margin-top: 5px">
                        <p class = "card-text">${name}</p>
                    </div>
                    <div class = "col">
                    </div>
                    <div class = "col" style = "margin-top: 5px">
                        <h5 class = "card-title">${cur_price}§</h5>
                    </div>
                    <div class = "col">
                        <button onclick="goSymbol('${name}')" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyFast" style = "background-color: #5B8C43FF">Купить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    `
    }
    async function loadGraph(symbol) {
        const graphdiv = document.getElementById('graph_of_main_stock');
        const graph = document.createElement('iframe');
        graph.setAttribute('style',"width:100%; height:100%")
        graph.setAttribute('src', `https://widget.finnhub.io/widgets/stocks/chart?symbol=${symbol}&backgroundColor=%23222222&textColor=white`);
        graphdiv.childNodes.forEach(el => {
            el.remove();
        })
        graphdiv.appendChild(graph);
    }

    fillCards = (data, page) => {
        let {timestamp, ...realData} = data;
        let keys = Object.keys(realData).sort().slice((page-1)*10, 10*page);
        console.log((page-1)*10, 10*page, keys)
        for(let i = 0; i < keys.length; i++) {
            document.getElementById("cards").insertAdjacentHTML('beforeend', card_html(keys[i], realData[keys[i]].cur_price));
        }
        loadGraph(keys[0]);
        
        let arr = document.getElementsByClassName('card');
        for (let i = 0; i < arr.length; i++) {
            const el = arr[i];
            console.log(el);
            el.onclick = () => {
                loadGraph(el.id);
            };
        }
    }

    update().then(data =>
        fillCards(data, 1)
    );

    deleteCards = () => {
        let cards = document.getElementById("cards");
        let lastel;
        while (!cards.lastChild.isEqualNode(cards.firstChild)) {
            lastel = cards.lastChild;
            cards.removeChild(cards.lastChild);
        }
        cards.appendChild(lastel);
    }

    let pagebtns = document.getElementsByClassName("page-link");
    for (let i = 0; i < pagebtns.length; i++) {
        const el = pagebtns[i];
        el.onclick = () => {
            update().then(data => {
                deleteCards();
                fillCards(data, +el.innerHTML)
            });
        }
    }

</script>

    <script>
        let Modal = document.getElementById('Modal')
        if (Modal) {Modal.addEventListener('show.bs.modal', (event) => {
            let tr = event.relatedTarget
            console.log(tr)
            let company = tr.getAttribute('data-bs-whatever')
            let cur_price = tr.getElementsByClassName('cur_price')[0].innerText
            let number = tr.getElementsByClassName('number')[0].innerText

            Modal.querySelector('.modal-title').innerText = `Покупка/продажа акции ${company}`
            Modal.querySelector('#stock_company').innerText = `Акции ${company}: ${cur_price}`

            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            price.addEventListener('change', () => { stock.value = price.value / cur_price });
            stock.addEventListener('change', () => { price.value = stock.value * cur_price });
        })

        Modal.addEventListener('hide.bs.modal', (event) => {
            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            stock.value = ''
            price.value = ''
        })}
    </script>
</div>
