<h2 style = "margin-top: 20px">Биржа</h2>
<p>{{all}}</p>
<div class = "container">
    <div class = "row">
        <div class = "col-7">
            <div class = "main_stock">
                <p id = "name_od_main_stock"> {{mainstock.symbol}}</p>
                <p id = "price_of_main_stock">{{mainstock.last_price}}</p>
                <div id = "graph_of_main_stock">
                    <canvas id = "myChar" width = "400" height = "400"></canvas>
                </div>
            </div>
        </div>
        <div class = "col-5">
                {{#each stocks}}
                <div class = "card" style="margin-bottom: 10px">
                    <div class = "card-header" style="background: linear-gradient(90deg, #190333 ,#00123a)">
                        <h5 style="color: white; margin-top:10px">{{this.symbol}}</h5>
                    </div>
                    <div class = "card-body">
                        <div class = "container">
                            <div class = "row">
                                <div class = "col" style = "margin-top: 5px">
                                    <p class = "card-text">{{this.name}}</p>
                                </div>
                                <div class = "col">
                                </div>
                                <div class = "col" style = "margin-top: 5px">
                                    <h5 class = "card-title">{{this.last_price}}§</h5>
                                </div>
                                <div class = "col">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyFast" style = "background-color: #5B8C43FF">
                                        Купить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            <nav aria-label="Page navigation" style = "margin-right: 10px">
                <ul class="pagination">
                    <li class = "page-item">
                        <a class = "page-link" href="#" aria-label="First">
                            <span aria-hidden="true" style = "color: black">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true" style="color: black"><</span>
                        </a>
                    </li>
<!--&laquo; &raquo;-->
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true" style="color: black">></span>
                        </a>
                    </li>
                    <li class = "page-item">
                        <a class = "page-link" href = "#" aria-label="End">
                            <span aria-hidden = "true" style = "color: black">&raquo</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="modal fade" id="buyFast" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Покупка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{#if user}}
                <div class="modal-body">
                    <p>Баланс: {{user.balance}}</p>
                    <p id="stock_company"></p>
                    <input placeholder = "Цена" type="number" class="form-control mb-2" name = "price" id = "price" step = "0.01" required>
                    <input placeholder = "Количество" type="number" class="form-control" name = "stock" id = "stock" step = "0.01" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #5B8C43FF; color: white">Купить</button>
                </div>
                {{else}}
                    <div class = "modal-body">
                        <h4>Чтобы совершать покупки, <a href="/login" style="text-decoration: none; color: dodgerblue">авторизируйтесь</a> или <a href="/reg" style = "text-decoration: none; color: dodgerblue">зарегестрируйтесь</a>.</h4>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

    <script>
        let Modal = document.getElementById('Modal')
        Modal.addEventListener('show.bs.modal', (event) => {
            let tr = event.relatedTarget
            console.log(tr)
            let company = tr.getAttribute('data-bs-whatever')
            let cur_price = tr.getElementsByClassName('cur_price')[0].innerText
            let number = tr.getElementsByClassName('number')[0].innerText

            Modal.querySelector('.modal-title').innerText = `Покупка/продажа акции ${company}`
            Modal.querySelector('#stock_company').innerText = `Акции ${company}: ${cur_price}`

            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            price.addEventListener('change', () => { stock.value = price.value / cur_price });
            stock.addEventListener('change', () => { price.value = stock.value * cur_price });
        })

        Modal.addEventListener('hide.bs.modal', (event) => {
            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            stock.value = ''
            price.value = ''
        })
    </script>
</div>