<h2 style = "margin-top: 20px">Мой портфель</h2>
<!-- ДА ПОРТФЕЛЬ, ОБ ЛК ПОТОМ ПОДУМАЕМ -->
{{#if user}}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-7">
                {{#if user.userstocks}}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
<!--                            <th scope="col">Действие</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {{#each user.userstocks}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.amount}}</td>
                                <td>{{this.cur_price}}</td>
                                <td>{{* this.amount this.cur_price}}</td>
<!--                                <td><a href="/sell/{{this.id}}">Продать</a></td>-->
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
<!--                            <th scope="col">Действие</th>-->
                        </tr>
                        </thead>
                    </table>
                    <p>У вас нет акций</p>
                {{/if}}
            </div>
            <div class = "col-md-5">
                <p class="text-muted">Вы вошли как {{user.username}}</p>
                <p class="h3">Ваш баланс: {{user.balance}}</p>
                <form action="/topup" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">₽</span>
                        <input placeholder = "Сумма пополнения" type="number" class="form-control" name = "amount" id = "amount" step = "0.01" required>
                        <button class = "btn btn-success" type = "submit">Пополнить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{{/if}}