<h2 style = "margin-top: 20px; color: Black">Мой портфель</h2>
<!-- ДА ПОРТФЕЛЬ, ОБ ЛК ПОТОМ ПОДУМАЕМ -->
<script>
    function goSymbol(symbol) {
        document.getElementById('symbol').setAttribute('value', symbol);
    }
</script>
{{#if user}}
    <div class = "container">
        <div class = "row">
            <div class = "col-md-7">
                {{#if user.userstocks}}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
<!--                            <th scope="col">Действие</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {{#each user.userstocks}}
                            <tr data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="{{this.symbol}}" onclick="goSymbol('{{this.symbol}}')">
                                <td class = "company">{{this.symbol}}</td>
                                <td class = "number">{{this.amount}}</td>
                                <td class = "cur_price">{{this.cur_price}}</td>
                                <td class = "amount">{{multiply this.amount this.cur_price}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Сумма</th>
<!--                            <th scope="col">Действие</th>-->
                        </tr>
                        </thead>
 <!--                        Пример -->
<!--                        <tr data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="Google">-->
<!--                            <td class="company">Google</td>-->
<!--                            <td class="number">7</td>-->
<!--                            <td class="cur_price">1000</td>-->
<!--                            <td class="amount">7000</td>-->
<!--                        </tr>-->
<!--                        Конец примера-->
                    </table>
                    <p>У вас нет акций, но вы можете купить их на
                        <a style="text-decoration: none; color: dodgerblue" href="/">бирже</a></p>
                {{/if}}
            </div>
            <div class = "col-md-5" style = "margin-top: 10px">
                <p class="text-muted">Вы вошли как {{user.username}}</p>
                <p class="h3">Ваш баланс: {{user.balance}}§</p>
                <form action="/topup" method="post">
                    <div class="input-group mb-3" style = "margin-top:10px">
                        <span class="input-group-text">₽</span>
                        <input placeholder = "Сумма пополнения" type="number" class="form-control" name = "amount" id = "amount" step = "0.01" required>
                        <button class = "btn" style = "background-color:#5b8c43; color:white" role = "button" type = "submit">Пополнить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Баланс: {{user.balance}}</p>
                    <p id="stock_company"></p>
                    <form action="/sellstock" method="POST">
                        <input readonly="true" placeholder = "Цена" type="number" class="form-control mb-2" name = "price" id = "price" step = "0.01" required>
                        <input placeholder="Количество" type="number" class="form-control" name = "amount" id = "amount" required>
                        <input hidden="true" type="text" class="form-control" name = "symbol" id = "symbol">
                        <button type="submit" class="btn" style = "margin-top: 10px; background-color:#b67f3d; color: white">Продать акции</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>

    <script>
        let Modal = document.getElementById('Modal')
        Modal.addEventListener('show.bs.modal', (event) => {
            let tr = event.relatedTarget
            console.log(tr)
            let company = tr.getAttribute('data-bs-whatever')
            let cur_price = tr.getElementsByClassName('cur_price')[0].innerText
            let number = tr.getElementsByClassName('number')[0].innerText

            Modal.querySelector('.modal-title').innerText = `Продажа акции ${company}`
            Modal.querySelector('#stock_company').innerText = `Акции ${company}: ${cur_price}`

            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            price.addEventListener('change', () => { stock.value = price.value / cur_price });
            stock.addEventListener('change', () => { price.value = stock.value * cur_price });
        })

        Modal.addEventListener('hide.bs.modal', (event) => {
            let price = document.getElementById('price')
            let stock = document.getElementById('stock')
            stock.value = ''
            price.value = ''
        })
    </script>

{{/if}}